body {
	background-color: #3c3a41 !important;
}
.image img {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 3px;
	height: 60px !important;
}

.list {
	height: 20px;
}

ul {
	list-style-type: none;
	padding-left: 0 !important;
}


.colu {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

input {
	width: 100%;

}

.data-cont {
	padding: 0 !important;
}

.streamers {
	margin-top: 5px;
}

.streamer {
	height: 80px;
	background-color: #171717;
	border-bottom: 1px solid #8c8c9c;
}

.pic-cont {
	
}

.pic {
	background-size: cover;
	width: 75px !important;
	height: 75px !important;
	border: 1px solid #8c8c9c;
	border-radius: 50% !important;
	margin-left: 10px;
	margin-top: 3px;
}

.channel-name, .game {
	height: 80px !important;
}

.hidden {
	display: none;
}

.status {
	color: white;
	background-color: #6441a5;

}
.status:hover {
	background-color: #7357A2;
	cursor: pointer;
}

.streamer-link {
	color: #8c8c9c;
	text-decoration: none;
	font-size: 20px;
	vertical-align: middle;
	height: 75px;
  line-height: 75px;
  white-space: nowrap;


}

.streamer-link:hover {
	color: white;
}

.game {
	color: #8c8c9c;
	padding-top: 15px;

}

#viewers {


}