.image {
	}

.image img {
	margin-top: 10px;
	padding: 3px;
	height: 60px !important;
}

.list {
	height: 20px;
}

ul {
	list-style-type: none;
	padding-left: 0 !important;
}

li {
	background-color: red;
}

.colu {
	padding-left: 0 !important;
	padding-right: 0 !important;
	
}

input {
	width: 100%;

}

.streamers {
	margin-top: 5px;
}

.streamer {
	height: 50px;
	background-color: green;
	border-bottom: 1px solid white;
}

.streamer-pic {
	background-size: cover;
	height: 50px;
}
